<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.tzulberti.archerytraining"
    android:installLocation="preferExternal">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/complete_archery_target"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ar.com.tzulberti.archerytraining.activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tournament activities -->
        <activity android:name="ar.com.tzulberti.archerytraining.activities.tournament.ViewExistingTournamentsActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.MainActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.tournament.AddTournamentActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.tournament.ViewExistingTournamentsActivity" />
        </activity>

        <activity android:name="ar.com.tzulberti.archerytraining.activities.tournament.ViewSerieInformationActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.tournament.ViewExistingTournamentsActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.tournament.ViewTournamentScoreSheetActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.tournament.ViewExistingTournamentsActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.tournament.ViewTournamentSeriesActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.tournament.ViewExistingTournamentsActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.tournament.ViewTournamentsStatsActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.tournament.ViewExistingTournamentsActivity" />
        </activity>


        <!-- Related to series -->
        <activity android:name="ar.com.tzulberti.archerytraining.activities.series.ViewRawDataActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.MainActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.series.AddSerieActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.series.ViewRawDataActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.series.ViewStatsTotalsActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.series.ViewRawDataActivity" />
        </activity>

        <!-- Retentions -->
        <activity android:name="ar.com.tzulberti.archerytraining.activities.retentions.ConfigureRetentionActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.MainActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.retentions.RetentionExerciseActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.retentions.ConfigureRetentionActivity" />
        </activity>

        <!-- Playoff -->
        <activity android:name="ar.com.tzulberti.archerytraining.activities.playoff.ViewExistingPlayoffActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.MainActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.playoff.AddPlayoffActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.playoff.ViewExistingPlayoffActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.playoff.ViewPlayoffSerieInformationActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.playoff.ViewExistingPlayoffActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.playoff.ViewPlayoffSeriesActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.playoff.ViewExistingPlayoffActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.playoff.ViewPlayoffStatsActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.playoff.ViewExistingPlayoffActivity" />
        </activity>


        <!-- bow -->
        <activity android:name="ar.com.tzulberti.archerytraining.activities.bow.ViewExistingBowsActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.MainActivity" />
        </activity>
        <activity android:name="ar.com.tzulberti.archerytraining.activities.bow.ViewBowActivity"
            android:parentActivityName="ar.com.tzulberti.archerytraining.activities.MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.tzulberti.archerytraining.activities.bow.ViewExistingBowsActivity" />
        </activity>

        <!-- Common activities -->
        <activity android:name="ar.com.tzulberti.archerytraining.activities.common.ContainerStatsActivity">
        </activity>
    </application>


</manifest>